<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internet.internet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PainterClass"
            android:label="@string/title_activity_paint"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Maps"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Mail"
            android:label="@string/title_activity_mail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Facebook"
            android:label="@string/title_activity_facebook"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Youtube"
            android:label="@string/title_activity_youtube"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gmail"
            android:label="@string/title_activity_gmail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Painter"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_paint"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Nu"
            android:label="@string/title_activity_nu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Stock"
            android:label="@string/title_activity_stock"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Lol"
            android:label="@string/title_activity_lol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
